@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.hidden-scrollbar {
  overflow: auto;          /* Enable scrolling if content overflows */
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}



@layer base {
  :root {
    --font-inter: var(--font-inter);
    --font-urbanist: var(--font-urbanist);
  }

  .font-inter {
    font-family: var(--font-inter);
  }

  .font-urbanist {
    font-family: var(--font-urbanist);
  }
}
